<%- include('../header')%>

    <style>
        table img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 8px;
        }
    </style>

    <div class="pc-container">
        <div class="pc-content">
            <!-- [ Main Content ] start -->
            <div class="row justify-content-center">
                <!-- [ sample-page ] start -->
                <div class="col-sm-12 text-center">
                    <div class="card table-card">
                        <div class="card-body text-center">
                            <h4 class="mb-5">View Product</h4>
                            <div class="table-responsive">
                                <table class="table table-hover" id="pc-dt-simple">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Category Name</th>
                                            <th>Sub Category</th>
                                            <th>Exsub Category</th>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Description</th>
                                            <th>Image</th>
                                            <th>Status</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% product.map((pro,index)=>{ %>
                                            <tr>
                                                <td>
                                                    <%= ++index %>
                                                </td>
                                                <td>
                                                    <h6 class="mb-0">
                                                        <%= pro?.categoryId?.category %>
                                                    </h6>
                                                </td>
                                                <td>
                                                    <h6 class="mb-0">
                                                        <%= pro?.subcategoryId?.subcategory %>
                                                    </h6>
                                                </td>
                                                <td>
                                                    <h6 class="mb-0">
                                                        <%= pro?.exsubcategoryId?.exsubcategory%>

                                                    </h6>
                                                </td>
                                                <td>
                                                    <h6>
                                                        <%= pro?.product %>
                                                    </h6>
                                                </td>
                                                <td>
                                                    <h6>
                                                        <%= pro?.price %>
                                                    </h6>
                                                </td>
                                                <td>
                                                    <h6>
                                                        <%= pro?.description %>
                                                    </h6>
                                                </td>
                                                <td>
                                                    <img src="<%= pro?.image %>" alt="Product Image">
                                                </td>

                                                <td>
                                                    <% if (pro?.status==="active" ) { %>
                                                        <a href="/product/changestatus?id=<%= pro.id %>&status=deactive"
                                                            class="btn btn-info btn-sm">
                                                            <%= pro?.status %>
                                                        </a>
                                                        <% } else { %>
                                                            <a href="/product/changestatus?id=<%= pro.id %>&status=active"
                                                                class="btn btn-success btn-sm">
                                                                <%= pro?.status %>
                                                            </a>
                                                            <% } %>
                                                </td>


                                                <td class="text-center">
                                                    <ul class="list-inline me-auto mb-0">

                                                        <li class="list-inline-item align-bottom"
                                                            data-bs-toggle="tooltip" title="Edit">
                                                            <a href="/product/deleteproduct?id=<%= pro?.id %>"
                                                                class="btn btn-danger btn-sm">Delete</a>

                                                                <a href="/product/editproduct?id=<%= pro?._id %>" class="btn btn-success btn-sm">Edit</a>


                                                        </li>
                                                    </ul>

                                                </td>
                                            </tr>
                                            <%})%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ sample-page ] end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>




    <%- include('../footer')%>